@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.animate-jump-attack {
  animation: jump-attack 0.5s ease-in-out;
}

@keyframes jump-attack {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-50vh) translateX(10vw);
  }
  50% {
    transform: translateY(0) translateX(40vw);
  }
  75% {
    transform: translateY(-25vh) translateX(10vw);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

.animate-melee-attack {
  animation: melee-attack 1s ease-in-out;
}

@keyframes melee-attack {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2vw);
  }
  50% {
    transform: translateX(40vw);
  }
  75% {
    transform: translateX(-2vw) rotate(10deg);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-melee-hit {
  animation: melee-hit 0.5s ease-in-out;
}

@keyframes melee-hit {
  0% {
    transform: translateX(2.5%) translateY(0) scaleX(1.25) rotate(5deg);
  }
  50% {
    transform: translateX(-2.5%) scaleX(1) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-throw_rock-attack {
  animation: throw_rock-attack 0.5s ease-in-out;
}

@keyframes throw_rock-attack {
  0% {
    transform: rotate(-15deg) scaleX(1.5);
  }

  50% {
    transform: rotate(15deg) scaleX(0.5);
  }

  100% {
    transform: rotate(0);
  }
}
.animate-throw_rock-projectile {
  animation: throw_rock-projectile 0.5s;
}

@keyframes throw_rock-projectile {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

/* Health Flashing */

.animate-health-flash {
  animation: health-flash 1s infinite;
}

@keyframes health-flash {
  50% {
    background-color: rgb(51, 0, 0);
  }
}
